<% layout('./layouts/boilerplate') %>
<section id="all-products" class="w-2/3 mt-4 portrait:w-full pl-2">
  <p class="w-3/5 portrait:w-full pl-2"><a class="link link-hover" href="/home">Home</a> 
    > <%=category.charAt(0).toUpperCase() + category.slice(1)%></p>

  <h2 class="text-center mb-4 text-3xl inline-block w-5/6 portrait:text-left pl-2"><%=category.charAt(0).toUpperCase() + category.slice(1)%> Products</h2>
  <ul class="carousel carousel-end rounded-box flex flex-wrap gap-3 justify-start portrait:justify-center">
    <% for(let product of products){ %>
    <li class="carousel-item">
      
      <div class="card card-compact bg-base-100 w-56">
        <a href="/products/<%=product.id%>">
        <figure>
          <img
            src="<%=product.img %>"
            alt="<%= product.name %>" />
        </figure>
      </a>
        <div class="card-body">
          <div class="card-actions justify-start">
            <button id="add-to-cart-btn" name="<%=product.id%>"  class="btn btn-primary rounded-full text-white"> + Add to Cart</button>
          </div>
          <a href="/products/<%=product.id%>">
          <h2 class="card-title">$<%= product.price %></h2>
          <p><%= product.name %></p>
          <p>Category: <%= product.category %></p>
        </a>
        </div>
      </div>
    </li>
    <% }%>
  </ul>
</section>

